.topbar{
    border-radius:0px!important;
    border-top:none!important;
    margin-bottom:0px;
}
.titlebar{
    border-radius:0 0 5px 5px!important;
}

.footerbar{
    padding:5px 5px 50px;
    margin-bottom:0px!important;
    border-radius:5px 5px 0 0!important;
}
.main{
    min-height:60vh;
}
.gal{
    max-width:100%;
}
.site_title{
    text-decoration:none!important;
//    color:#555!important;

color: rgb(115, 115, 115);
text-shadow: rgba(150, 150, 150, 0.5) 3px 3px 2px;

}

.btn-social-icon{
    margin-top:6px!important;
}
